<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
   <add connectionString="data source=198.71.227.2;initial catalog=cloud;user id=Split;password=Split@9599929953" name="cloud"/>
    <!--add connectionString="Data Source=LENOVO-PC;database=IntrusiondetectionOffline;integrated security=true;" name="cloud"></add>-->
  </connectionStrings>
</configuration>